<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
    <% if current_user %>
      <h5>Customer Email: <%= current_user.email %></h5>
    <% end %>
    <h5>Order Total:  <%= @order.total %></h5>
  </div>

 <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Quantity</th>
          <th>Unit Price</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'line_item', collection: @order.line_items %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="5">
            TOTAL: $ <%= @order.total %>
          </th>
        </tr>
      </tfoot>
    </table>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
